{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static "accounts/css/login.css" %}">
    {% endblock %}

    {% block content %}
    <div class=" card-container d-flex justify-content-center">
    <div class="card  mt-5 border-0 p-4 col-lg-4 col-md-4 col-sm-7 col-11">
      <div class="card-body p-0">
        <form method="post" class="mb-2">
        {% csrf_token %}
        <h2 class=" text-center fw-semibold mb-4">Login</h2>
        <input class="form-control input-box mb-2 " type="text" name="email" placeholder="Enter your email" id="emailInput"/>
        <button class="submit-btn w-100 btn" type="submit">Continue</button>
      </form>
      <div class="or-line">
      <small class=" text-center px-3 pt-1 mb-1 ">OR</small>
      </div>
      <a class="btn w-100 btn-light text-black g-btn" href="{% url 'google_login' %}"> <img src="{% static "images/google-logo.png" %}" class="g-img" alt="Google" /> Continue with Google</a>
      </div>
    </div>
    </div>
    {% endblock  %}

    {% block extra_js %}
    <script src="{% static "accounts/js/login.js" %}"></script>
    {% endblock %}
  
    
   