{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product_list.css' %}">
{% endblock %}

{% block content %}
<div class="d-lg-none mobile-filter-bar sticky-top shadow-sm bg-white">
    <div class="row g-0 py-2 text-center border-bottom">
        <div class="col-6 border-end" data-bs-toggle="offcanvas" data-bs-target="#filterCanvas">
            <span class="fw-bold"><i class="fa fa-filter me-1"></i> FILTER</span>
        </div>
        <div class="col-6" data-bs-toggle="offcanvas" data-bs-target="#sortCanvas">
            <span class="fw-bold"><i class="fa fa-sort me-1"></i> SORT</span>
        </div>
    </div>
</div>

<div class="container-fluid px-lg-5 mt-4">
    <div class="row">
        <aside class="col-lg-2 d-none d-lg-block border-end pe-4">
            <div class="sidebar-sticky ">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="fw-bold mb-4 text-uppercase">Filters</h6>
                    <a href="?category={{ request.GET.category }}&gender={{ request.GET.gender }}" 
                       class=" small mb-4 text-decoration-none fw-bold">
                       CLEAR ALL
                    </a>
                </div>
                
                {% include 'products/includes/filter_content.html' %}
            </div>
        </aside>

        <main class="col-lg-10 ps-lg-4">
            <div class="d-none d-lg-flex justify-content-between align-items-center mb-4">
                {% if products %}
                <p class="text-muted mb-0">{{ products.count }} Items Found</p>
                {% endif %}
                <div class="dropdown">
                    <button class="btn btn-sm border dropdown-toggle fw-bold" data-bs-toggle="dropdown">
                        SORT BY: {% if sort_by == 'price_low' %}Price Low to High{% else %}Recommended{% endif %}
                    </button>
                    <ul class="dropdown-menu shadow border-0">
                        <li><a class="dropdown-item" href="?{{ request.GET.urlencode }}&sort=newest">Newest</a></li>
                        <li><a class="dropdown-item" href="?{{ request.GET.urlencode }}&sort=price_low">Price: Low to High</a></li>
                        <li><a class="dropdown-item" href="?{{ request.GET.urlencode }}&sort=price_high">Price: High to Low</a></li>
                    </ul>
                </div>
            </div>

            
              <div id="ajax-product-section">
                {% include 'products/includes/product_grid.html' %}
              </div>
        
            
        </main>
    </div>
</div>

<div class="offcanvas offcanvas-start w-85" id="filterCanvas" tabindex="-1">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title fw-bold">Filters</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        {% include 'products/includes/filter_content.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'products/js/filter_logic.js' %}"></script>
{% endblock %}